@{
    Layout = "~/Areas/AdminPanel/Views/Shared/_AdminPanelLayout.cshtml";
}
@model List<ContactListVM>
<div class="row">
    <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">@localizer["contacts"]</h4>
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>@localizer["date"]</th>
                                <th>@localizer["namesurname"]</th>
                                <th>@localizer["email"]</th>
                                <th>@localizer["subject"]</th>
                                <th>@localizer["message"]</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>@item.CreateDate.ToString("dd MMMM yyyy") </td>
                                    <td>@item.Name</td>
                                    <td>@item.Email</td>
                                    <td>@item.Subject</td>
                                    <td>@item.Message</td>
                                </tr>
                            }

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

